body,html { 
    width: devicewidth;
  height: deviceheight;
  font-family: 'Montserrat', sans-serif; 
 background: white  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  

}
#myButton {   
       background-color: #128c7e;   
       width: 70%;  
        color:white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
        border-radius: 15px;
         } 
.heading{
    float: center;
    color:black;
    text-align: center;
    padding: 10px ;
    margin-top: 40px ;
    text-decoration: none;
    font-size: 40px;
    list-style: none;
  } 
  


.container2 {
  float: center;
  text-align: center;        
  margin-left: 10%;
  margin-right: 10%;
  padding:20px;   
  background-color: white;  
  border: 2px solid black; 
}

.btn-group2 button {
    background-color: #128c7e; /* Green background */
    border: 1px solid #128c7e; /* Green border */
    color: white; /* White text */
    font-size: 20px;

    border-radius: 15px;
    padding: 20px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 40%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin: 20px;
    
  }
  